/* Your styles here */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  font-family: "Open Sans";
  color: #393d41;
  font-size: 1.2rem;
  line-height: 1.65;
}
.logo-container {
  background-color: black;
  padding: 1rem;
}

.header-content {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.logo-container-title {
  font-family: "Montserrat";
  line-height: 1.5;
  color: #25a2c3;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.logo-container-button {
  background-color: #f04c2f;
  color: white;
  padding: 10px 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 2rem;
  font-family: "Montserrat";
}

.vantaggi-content-title {
  color: #25a2c3;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Montserrat";
  line-height: 1.5;
}
.vantaggi-content-image,
.vantaggi-content-text-block {
  display: inline-block;
}
.vantaggi-content {
  margin: 0 auto;
  width: fit-content;
}

.vantaggi-content-image {
  border-radius: 50%;
  margin-right: 2rem;
}

.vantaggi-container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.vantaggi-content-text-block {
  vertical-align: top;
  margin-top: 4rem;
}

.recensione-container {
  text-align: center;
  background-color: #f04c2f;
  color: white;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.recensione-container-comment {
  font-style: italic;
  margin-bottom: 1rem;
}

.recensione-container-title {
  font-weight: bold;
  font-family: "Montserrat";
  line-height: 1.5;
  margin-bottom: 1rem;
  font-size: large;
}

.recensione-container-commentator-name {
  font-size: small;
}

.recensione-container-commentator-role {
  font-size: x-small;
}

.card-section-container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.card-container-img {
  width: 100%;
}

.card-container {
  width: 400px;
  display: inline-block;
  text-align: center;
  border: 1px solid gray;
  padding-bottom: 2rem;
}

.card-section-content {
  width: fit-content;
  margin: 0 auto;
}
.card-section-content .card-container:not(:last-child) {
  margin-right: 1rem;
}
.card-container-title {
  color: #25a2c3;
  font-weight: bold;
  font-family: "Montserrat";
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.footer {
  background-color: #25a2c3;
  color: white;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.container-footer {
  margin: 0 auto;
  width: fit-content;
  border-bottom: 2px solid white;
}

.container-footer-title,
.pixabay {
  text-align: center;
}

.container-footer-title {
  margin-bottom: 1rem;
  font-size: xx-large;
  font-weight: bold;
  font-family: "Montserrat";
  line-height: 1.5;
}

.container-footer-element {
  margin-bottom: 1rem;
}
.container-footer-link {
  text-align: center;
  margin-top: 1rem;
}
.container-footer-link a:link,
.container-footer-link a:visited {
  color: #c8e7f0;
}
